body{
    margin: 1;
    padding: 1;
    background-color: black;
    color: white;   
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 800px;
    box-shadow: rgb(7, 158, 27);
    background-color: grey;
}
.logo {
font-size: larger;
font-weight: bolder;
font-style: italic;
}
.navbar nav{
    display: flex;
    gap: 20px;
    font-size: medium;
}
a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
#home{
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    background-color: grey;
    background-size: cover;
    background-position: center;
    font-weight: bolder;
    color: black;
}
#home h1{
    text-align: center;
    font-size: 50px;
}

#team{
display: flex;
flex-direction: row;
}
#service {
    display: flex;
}
h2{
    text-align: center;
}
#appointment form{
    display: flex;
    flex-direction: column;
    padding-right: 300px;
    padding-left: 100px;
}
::placeholder{
    color: black;
    font-size: 15px;
}
#button{
    text-align: center;
}
h3{
    padding-left: 40px;
}